*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/bk1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.home-top-container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255,255,255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px; 
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.home-header{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.25);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
}

.home-logo{
    color: royalblue;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    margin: 10px;
}

.home-page-route{
    display: flex;
}

.home-page-route li{
    list-style: none;
    margin: 0 10px;
}

.home-page-route li a{
    text-decoration: none;
    font-weight: 500;
    color: grey;
    padding: 8px 15px;
    border-radius: 25px;
}

.home-page-route li a:hover,
.home-active{
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-intro{
    max-width: 800px;
    margin-top: 100px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.25);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    padding: 40px;
    padding-left: 75px;
}

.home-intro h2{
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: royalblue;
}

.home-intro p{
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(57,60,75);
}

.home-intro a{
    display: inline-block;
    background: white;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    color: slategray;
    text-decoration: none;
    border-radius: 30px;
}

.home-logo-img img{
    margin-top: -150px;
    margin-bottom: 100px;
    width: 500px;
    height: auto;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}

/* services */
.home-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-top: 50px;
    width: calc(100vw - 100px);
    transform: translateX(-75px) translateY(100px);
    border-radius: 40px 40px 0px 0px;
    background-color: rgba(255,255,255, 0.9);
}

.home-services h1{
    font-size: 2.5em;
    color: gray;
    margin-left: 150px;
}

.home-services-wrapper{
    display: flex;
    justify-content: space-between;
}


/* footer */
.home-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
    transform: translateX(-150px) translateY(100px);
    border-radius: 40px 40px 0px 0px;
    background-color: rgba(255,255,255, 0.9);
}

.home-footer p{
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
}

.home-footer-content{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}
.home-footer-links{
    max-width: 900px;
    padding: 40px;
}

.home-footer-links h2{
    font-size: 2.5em;
    color: royalblue;
}

.home-footer-links h3{
    font-size: 1.25em;
    color: black;
    margin-top: 50px;
}

.home-footer-social{
    display: flex;
}
.home-footter-img-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    background-color: gainsboro;
    border-radius: 100px;
    width: 45px;
    height: 45px;
}
.home-footer-social img{
    margin: 10px;
}

.home-footer-logo img{
    margin-bottom: 20px;
    width: auto;
    height: 300px;
    margin-left: 100px;
}