*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('../../assets/bk1.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.home-top-container{
    position: relative;
}

.home-header{
    display: flex;
    width: calc(100vw - 40px);
    justify-content: space-between;
    margin: 10px 20px;
    padding: 20px 50px;
    background: rgba(255,255,255, 0.5);
    box-shadow: rgba(255,255,255, 0.05);
    border-radius: 20px;
    align-items: center;
}

.home-logo{
    margin: 10px;
    background: unset;
}

.home-page-route{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    right: 0;
    background: unset;
}

.home-page-route p{
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    background: unset;
    color: black;
}
.home-page-route p:hover{
    margin: 10px;
    font-size: 18px;
    color: green;
}


.home-intro{
    position: absolute;
    width: calc(100vw - 40px);
    min-height: 600px;
    display: flex;
    margin: 20px;
    top: 10px;
    padding: 20px 50px;
    background: rgba(255,255,255, 0.7);
    box-shadow: rgba(255,255,255, 0.05);
    border-radius: 20px;
}

.home-img{
    margin-top: 100px;
    float: right;
    height: 450px;
    width: 340px;
    background: url('../../assets/character.png');
    background-size: cover;
}