::-webkit-scrollbar {display:none;}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.int-header{
  display: flex;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  /* background: rgba(255,255,255, 0.5); */
  background: url('../../assets/bk-light.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  /* display: flex; */
}

.int-nav-bar{
  position: absolute;
  top: 0px;
  right: 20px;
  left: 20px;
  margin-top: 5px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(212, 212, 212, 0.75);
  border-top: 1px solid rgba(212, 212, 212, 0.5);
  border-left: 1px solid rgba(212, 212, 212, 0.5);
}

.int-title-name{
  font-size: 24px;
  margin: 10px;
  color: royalblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.int-nav-items{
  display: flex;
  justify-content: center;
}

.int-user-name-text{
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin: 10px;
  align-self: center;
}

.int-user-image{
  width: 40px;
  height: 40px;
  align-self: center;
  border-radius: 100px;
}

.int-App{
  margin-top: 80px;
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.int-left-side{
  flex-basis: calc(100% - 5px);
  overflow-y: scroll;
}

.int-gutter{
  background-color: gray;
  flex-basis: 15px;
  height: 100vh;
}

.int-right-side{
  flex-basis: calc(100% - 5px);
}

